@media (min-width:480px) and (max-width:639px), (min-width: 1024px){

  .sidebar {
    display: flex;
  } 
  
  .first {
    margin-right: 20px;
    font-family: 'GFS 
  }
}


@media (min-width: 640px){
  .wrapper {
    display: flex;
  }
  .content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 70%;
  }  
}

@media (min-width: 1024px){
 .content {
    flex-basis: 60%;
  }  
  
}





body{
max-width:1280px;
margin:0 auto;
font-family: 'Poppins', sans-serif;
font-size: 1.3em;
      background:
url(https://lh3.googleusercontent.com/l8XD_vRIWv7BS7cULNZea7YUkYxWIqsLn-R5EwBfdI-BRE4hIpBPiYaYe3QOmGJsXVjChPN8te5kOpRd03hvxnxNoxCf9vsOxlr2PspBJ-OltzQCN9XTl2cE-G-o2Y4j4SPF6_PFpwA=w2400);
}
*{
  box-sizing:border-box;

}

p {
  line-height: 1.5;
}


.header {
  background: #cfd1d1;
  padding: .8em 1em;
  text-align: center;
  color: black;
  text-shadow: 3px 2px 1px #fff540;
  font-size: 1.5em;  
  font-family: 'Bangers', cursive;
      background:
url(https://lh3.googleusercontent.com/Jo1iGBHXAxfF2S61yg5JSk0fUZPS5o30z2r3hMJE3S5aPi7MFqkOqJmH7mMW3BTE8QZq9P9DaGyLy5wAg8bDlfA6UCySUiegB3tG7KwWODEjqNYmGJT8rn6u3QVFr3SL_tUnxPt7xoM=w2400)
}



.content {
  padding: .5em;
  
}

.sidebar {
  padding: .5em;
        background:
url(https://lh3.googleusercontent.com/Jo1iGBHXAxfF2S61yg5JSk0fUZPS5o30z2r3hMJE3S5aPi7MFqkOqJmH7mMW3BTE8QZq9P9DaGyLy5wAg8bDlfA6UCySUiegB3tG7KwWODEjqNYmGJT8rn6u3QVFr3SL_tUnxPt7xoM=w2400)

}


.img-fluid{
max-width: 100%;
height: auto;
}

.fa-envelope{
  font-size: 5em;
}